header nav.navbar{
    background-color: black;
} 

header nav.navbar a{
    color: white;
} 

header nav.navbar a:hover{
    color: rgb(197, 197, 197);
}

header nav.navbar button{
    background-color: white;
}

footer{
    background-color: black;    
} 

footer .nav-item a{
    color: white;
    padding: 8px;
}

footer .nav-item a:hover{
    color: rgb(197, 197, 197);
}

footer span{
    color: white;
}