header nav.navbar{
    background-color: black;
} 

header nav.navbar a{
    color: white;
} 

header nav.navbar a:hover{
    color: rgb(197, 197, 197);
}

header nav.navbar button{
    background-color: white;
}

main a{
    text-decoration: none;
    color: black;
}

main #Servicios{
    background-color: black;
    color: white;
}

main #Servicios ul{
    font-size: 1.3rem;
}

main #Servicios .img-servicios{
    width: 60%;
}

footer{
    background-color: black;    
} 

footer .nav-item a{
    color: white;
    padding: 8px;
}

footer .nav-item a:hover{
    color: rgb(197, 197, 197);
}

footer span{
    color: white;
}

span{
    font-size: 1.2rem;
}

.span-bold{
    font-size: 1.25rem;
    font-weight: 700;
}

@media (max-width: 375px) {
    span {
        font-size: 1rem; /* Ajusta el tamaño según necesites */
    }
}

@media (max-width: 767px) {
    main #Servicios .img-servicios{
        width: 100%;
    }
}
